# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# Status of the wesbite, easy to disable site from .env file
SITE_STATUS=true

# General config
CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_ALLOW_UPDATES=true

# Whether Craft should run the queue automatically when triggered from the Control Panel.
# Set to false if you are using a daemon to process queues.
CRAFT_RUN_QUEUE_AUTOMATICALLY=false

# This should be set to false on production!
CRAFT_DISALLOW_ROBOTS=true

# Security
CRAFT_APP_ID=
CRAFT_SECURITY_KEY=
FORMIE_SECURITY_KEY=

# Database connection settings
CRAFT_DB_DRIVER="mysql"
CRAFT_DB_SERVER="db"
CRAFT_DB_PORT="3306"
CRAFT_DB_DATABASE="db"
CRAFT_DB_USER="db"
CRAFT_DB_PASSWORD="db"
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

# Website name 
SITE_NAME="Craft Skerm"

# Define site urls
PRIMARY_SITE_URL="https://craftskerm.ddev.site"
PRIMARY_SITE_URL_NL="https://craftskerm.ddev.site/nl"
PRIMARY_SITE_URL_EN="https://craftskerm.ddev.site/en"
PRIMARY_SITE_URL_FR="https://craftskerm.ddev.site/fr"

# MAIL / SMTP
FROM_EMAIL=no-reply@skerm.be
REPLY_EMAIL=no-reply@skerm.be
SMTP_HOST=127.0.0.1
SMTP_PORT=1025
SMTP_VERIFICATIE=false
SMTP_USERNAME=
SMTP_PASSWORD=

# MAILGUN
MAILGUN_DOMAIN=
MAILGUN_API=
MAILGUN_ENDPOINT="https://api.eu.mailgun.net"

# RECAPTCHA v3
RECAPTCHA_ENABLED=false
RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""

# Vite related stuff
CRITICAL_CSS=false
GENERATE_FAVICON=false

# Use the design grid
DESIGN_GRID=false