/**
 * Typography settings
*/

a:not(.Link),
.Is-link {
  @apply relative cursor-pointer font-medium text-typography-link transition duration-500;
  @apply hover:text-typography-link_hover hover:before:border-typography-link_hover;

  &:before {
    content: "";
    @apply absolute left-0 bottom-px w-full h-px border-t border-typography-link;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scaleX(1);
    transform-origin: left;
  }

  &:hover:before {
    transform: scaleX(0);
    transform-origin: right;
  }

  &.Is-link--reversed {
    &:before {
      transform: scaleX(0);
      transform-origin: right;
    }

    &:hover:before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.RichText {
  @apply block space-y-5;

  strong *,
  strong {
    @apply font-bold text-primary;
  }

  p,
  li,
  ul,
  ol {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  a {
    @apply inline-block;
  }
}

p,
ol,
li {
  font-size: clamp(
    theme(text-default_min),
    theme(text-default),
    theme(text-default_max)
  );
  line-height: clamp(
    theme(line-default_min),
    theme(line-default),
    theme(line-default_max)
  );

  b,
  strong {
    @apply font-bold;
  }

  i {
    @apply italic;
  }
}

ul {
  @apply list-disc pl-5;
}

ol {
  @apply list-decimal pl-5;
}

