{% extends '_layouts/site' %}

{% block main %}
	<div class="container u-block space-y-6">
		<a class="Link" href="{{ siteUrl }}" title="{{ siteName ~ ' ' ~ 'homepage'|t }}">
			{{ svg(include('_partials/icons/logo.svg'))|attr({class: 'w-full h-auto max-w-[450px] mb-20'}) }}
		</a>
		<h1 class="">{{ systemName }}</h1>
		<h2 class="h4">With Vite & Tailwind</h2>
		{% include "_macros/button/button" with { 
			url: '/stylesheet',
			text: 'Stylesheet',
			style: 'primary'
			
		} %}
	</div>
{% endblock %}
